.btn {
    background-color: green !important;
    outline:none !important;
    border-radius:3px !important;
    border:2px solid rgb(2, 83, 2);
}
body{
background-color: rgb(213, 240, 231);
color:black;
}
.navbar-brand {
    font-size:xx-large;
    color:green !important;
}
.navbar-brand img{
    margin-bottom:6px;
}
li {
    text-align:center;
}
li a{
    color:rgb(15, 106, 15) !important;
}
 a:hover{
    color:rgb(4, 193, 4) !important;
}
footer{
    position:fixed;
    left:50%;
    min-width:100%;
    transform:translateX(-50%);
    bottom:0;
    padding:10px;
    text-align:center;
    background-color:cadetblue;
}
.register_input{
    padding:10px ;
    background:rgb(153, 216, 58) ;
    border:2px solid rgb(45, 81, 17);
    color:rgb(26, 79, 2);
    outline:none;
    margin:5px 0;
    border-radius:6px;
}
::placeholder {
    text-align:center;
    }
.register_input:focus{
    background-color: rgb(229, 238, 150);
}
form{
    border-radius:8px;
    border:1px solid green !important;
    padding:30px;
    background-color:rgb(106, 201, 106);
}
.alert-success{
    background-color:rgb(80, 171, 80) !important;
}
.category_wrapper{
display:flex;
gap:30px;
justify-content: center;
padding:0 !important;
}
.category_wrapper > .btn{
    background:none !important;
    border-radius:8px !important;
    border:1px solid red;
    padding:10px;
    flex:1;
    max-width:280px;
}
table{
    width:100%;
    border:1px solid black;
}
#done{
    padding:0;
    background:none;
    border:none !important;
}
@media screen and (max-width:475px){
    .category_wrapper{
        flex-direction:column;
        align-items:center
    }
    .category_wrapper > .btn{
        min-width:90%;
    }
}