@font-face {
    font-family:"Amatic";
    src: url("/static/fonts/Amatic_SC/AmaticSC-Bold.ttf");
}
@font-face {
    font-family:"Indie_Flower";
    src: url("/static/fonts/Indie_Flower/IndieFlower-Regular.ttf");
}
@font-face {
    font-family:"Sen";
    src: url("/static/fonts/Sen/Sen-Regular.ttf");
}
a:hover {
    color:rgb(4, 193, 4) !important;
}
.alert-success {
    background-color:rgb(80, 171, 80) !important;
}
button[type=button] {
    font-family:Indie_Flower;
    font-size:20px;
    letter-spacing: 2px;
}
.btn {
    background-color: green !important;
    outline:none !important;
    border-radius:3px !important;
    border:2px solid rgb(2, 83, 2);
    padding:5px 30px;
}
body {
    background-color: rgb(213, 240, 231);
    color:black;
    font-family:Sen;
    font-size:17px;
}
button:disabled {
    opacity:0.85 !important;
}
.breadcrumb-item a {
    font-size:20px;
    text-decoration:none;
}
.category_wrapper {
    display:flex;
    gap:30px;
    justify-content: center;
    padding:0 !important;
    }
.category_wrapper > .btn {
    background:none !important;
    border-radius:8px !important;
    padding:10px;
    flex:1;
    max-width:280px;
    border-width:3px;
}
.clear {
    background:none;
    border:none !important;
    padding:15px;
}
.disabled {
    pointer-events: none !important;
    opacity:0.6 !important;
}
#done {
    padding:0;
    background:none;
    border:none !important;
}
footer {
    position:fixed;
    left:50%;
    min-width:100%;
    transform:translateX(-50%);
    bottom:0;
    padding:10px;
    text-align:center;
    background-color:cadetblue;
    display:flex;
    align-items: center;
    justify-content: center;
}
footer a {
    color:black;
    text-decoration:none;
}
form {
    border-radius:8px;
    border:1px solid green !important;
    padding:30px;
    background-color:rgb(106, 201, 106);
}
li {
    text-align:center;
}
li a {
    color:rgb(15, 106, 15) !important;
}
.register_input {
    padding:10px ;
    background:rgb(153, 216, 58) ;
    border:2px solid rgb(45, 81, 17);
    color:rgb(26, 79, 2);
    outline:none;
    margin:5px 0;
    border-radius:6px;
}
::placeholder {
    text-align:center;
    }
.register_input:focus {
    background-color: rgb(229, 238, 150);
}
nav {
    font-size:20px;
}
.navbar-brand {
    font-size:50px;
    color:green !important;
    font-family: Amatic;
}
.navbar-brand img {
    margin-bottom:6px;
}
.rounded-pill {
    font-family:Arial, Helvetica, sans-serif;
    font-size:13px;
    letter-spacing: initial;
}
.shuffle {
    display:flex;
    justify-content: center;
}
.shuffle a {
    font-family:Amatic;
    text-decoration: none;
    font-size:55px;
    color:rgb(214, 200, 43);
    letter-spacing: 5px;
    border:4px solid rgb(4, 193, 4);
    padding:8px;
    border-radius:10px;
    background-color: cadetblue;
    display:flex;
    align-items: center;
    width:250px;
    justify-content: center;
}
.shuffle i {
    font-size:30px;
}
table {
    width:100%;
    border:1px solid black;
}
.task_add {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    align-items: center;
    gap:15px;
}
.task_form {
    background: none;
    border:none !important;
    padding:0 !important;
    margin:0 !important;
    width:auto !important;
}
/* CATEGORY CLASSES */ 
.house {
    border-color:rgb(233, 233, 10);
    background-color: rgb(228, 228, 104);
}
.work {
    border-color:rgb(152, 147, 147);
    background-color: rgb(152, 147, 147);;
}
.personal {
    border-color:rgb(182, 21, 182);
    background-color:rgba(195, 18, 195, 0.59);
}
@media screen and (max-width:767px) {
    .task_add {
        flex-direction:column;
        gap:10px;
        padding:15px;
    }
}
    
@media screen and (max-width:475px) {
    .category_wrapper {
        flex-direction:column;
        align-items:center
    }
    .category_wrapper > .btn {
        min-width:90%;
    }
    .visible {
        display:none;
    }
}