{% extends "layout.html"%}
{% block title%} History {% endblock%}
{% block main %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">< back</a></li>
  </ol>
</nav>
{% if record%}
<table class="table">
  <thead>
      <tr>
          <th class="text-start">Task</th>
          <th class="text-end">Achieved</th>
          <th class="text-center">Status</th>
          <th class="text-center">Restore</th>
      </tr>
  </thead>
  {% for r in record %}
  <tbody>
    <tr class= 
  {% if r["category"] == "Work" %}
    "work"
    {% elif r["category"] == "House" %}
    "house"
    {% elif r["category"] == "Personal" %}
    "personal"
    {% endif %}
    >
    <td class="text-start">{{ r["task"] }}</td>
    <td class="text-end">{{ r["archieved"] }}</td>
    <td class="text-center">
        {% if r["status"] == 'done' %}
        <i class="icon-ok text-center"></i>
        {% elif r["status"] == 'deleted' %}
        <i class="icon-trash-1 text-center"></i>
        {% endif %}
    </td>
    <td>
      <form action="/restore{{ r['id'] }}" method="post" class="task_form">
        <button type="submit">
        <i class="icon-history text-center"></i>
      </form>
    </td>
  </tr>
  </tbody>
  {% endfor %}
{% endif %}
{% endblock %}
