{% extends "layout.html" %}
{% block title %} Dashboard {% endblock%}
{% block main %}
<div class="mb-3 category_wrapper">
  <button type="button" class="btn house position-relative" onclick="location.href='/House'" {% if h[0]["house"] == 0 %} disabled {% endif %}>
        House
        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
          {% if h %}
          {% for r in h %}
          {{ r["house"] }}
          {% endfor %}
          {% else %}
          0
          {% endif %}
        </span>
      </button>
    
      <button type="button" class="btn work position-relative" onclick="location.href='/Work'" 
      {% if w[0]["work"] == 0 %} disabled {% endif %}>
        Work
        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
          {% if w %}
          {% for r in w %}
          {{ r["work"] }}
          {% endfor %}
          {% else %}
          0
          {% endif %}
        </span>
      </button>
      <button type="button" class="btn personal position-relative" onclick="location.href='/Personal'"
      {% if p[0]["personal"] == 0 %} disabled {% endif %}>
        Personal
        <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
          {% if p %}
          {% for r in p %}
          {{ r["personal"] }}
          {% endfor %}
          {% else %}
          0
          {% endif %}
        </span>
      </button>
</div>
<div class="mb-3">
    <form action="/add", method="post" class="task_add">
        <input type="text" name="task" placeholder="Write task" autofocus>

        <div class="check_input_wrapper">
        <input class="form-check-input" type="radio" name="category" id="House" value="House">
        <label class="form-check-label" for="House">House</label>

        <input class="form-check-input" type="radio" name="category" id="Work" value="Work">
        <label class="form-check-label" for="Work">Work</label>

        <input class="form-check-input" type="radio" name="category" id="Personal" value="Personal">
        <label class="form-check-label" for="Personal">Personal</label>
        </div>
        <input type="date" name="date">

        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>
{% if records %}
<table class="table">
  <thead>
      <tr>
          <th class="text-start">Task</th>
          <th class="text-end visible">Created</th>
          <th class="text-end visible">Due</th>
          <th class="text-center">Done</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
      </tr>
  </thead>
  <tbody>
  {% for row in records %}
  <!-- add backgrounds to task depends on category-->
  <tr class= 
  {% if row["category"] == "Work" %}
    "work"
    {% elif row["category"] == "House" %}
    "house"
    {% elif row["category"] == "Personal" %}
    "personal"
    {% endif %}
    >
    <td class="text-start">{{ row["task"] }}</td>
    <td class="text-end visible">{{ row["created_date"] }}</td>
    <td class="text-end visible">{{ row["due_date"] }}</td>
    <!-- checkbox done -->
    <td>
      <form id="done" action="/done{{row["id"] }}" method="post" onchange="document.getElementById('done').submit()" class="text-center"><input type="checkbox" name="done">
      </form>
      </td>
    <!-- edit button -->
      <td>
      <form action="/edit{{row["task"]}}:{{row["category"]}}:{{row["due_date"]}}:{{row["id"]}}" method="post" class="task_form text-center">
        <button type="submit"><i class="icon-pencil"></i></button>
      </form>
    </td>
    <!-- delete button -->
    <td>
      <form action="/delete{{row["id"] }}" method="post" class="task_form text-center">
        <button type="submit"><i class="icon-trash-1"></i></button>
      </form>
    </td>
  </tr>
  {% endfor %}
  </body>
  {% endif %}
{% endblock %}