{% extends "layout.html" %}
{% block title %} Preview {% endblock%}
{% block main %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">< back</a></li>
  </ol>
</nav>
<div class="mb-3 category_wrapper">
<button type="button" class="btn {{ cat_lower }} position-relative">
    {{ cat }}
    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
      {% if h %}
      {{ h[0]["house"] }}
      {% elif w %}
      {{ w[0]["work"] }}
      {% elif p %}
      {{ p[0]["personal"] }}
      {% else %}
      0
      {% endif %}
    </span>
  </button>
</div>
<table class="table">
  <thead>
      <tr>
          <th class="text-start">Task</th>
          <th class="text-end visible">Created</th>
          <th class="text-end visible">Due</th>
          <th class="text-center">Done</th>
          <th class="text-center">Edit</th>
          <th class="text-center">Delete</th>
      </tr>
  </thead>
  <tbody>
  {% for row in records %}
  <!-- add backgrounds to task depends on category-->
  <tr class= 
  {% if row["category"] == "Work" %}
    "work"
    {% elif row["category"] == "House" %}
    "house"
    {% elif row["category"] == "Personal" %}
    "personal"
    {% endif %}
    >
    <td class="text-start">{{ row["task"] }}</td>
    <td class="text-end visible">{{ row["created_date"] }}</td>
    <td class="text-end visible">{{ row["due_date"] }}</td>
    <!-- checkbox done -->
    <td>
      <form id="done" action="/done{{row["id"] }}" method="post" onchange="document.getElementById('done').submit()" class="task_form text-center"><input type="checkbox" name="done">
      </form>
      </td>
    <!-- edit button -->
      <td>
      <form action="/edit{{row["task"]}}:{{row["category"]}}:{{row["due_date"]}}:{{row["id"]}}" method="post" class="task_form text-center">
        <button type="submit"><i class="icon-pencil"></i></button>
      </form>
    </td>
    <!-- delete button -->
    <td>
      <form action="/delete{{row["id"] }}" method="post" class="task_form text-center">
        <button type="submit"><i class="icon-trash-1"></i></button>
      </form>
    </td>
  </tr>
  {% endfor %}
{% endblock %}

