{% extends "layout-2.html" %}
{% block title %} Preview {% endblock%}
{% block button %}
<div class="mb-3 category_wrapper">
<button type="button" class="btn {{ cat_lower }} position-relative">
    {{ cat }}
    <span class="position-absolute top-0 start-50 translate-middle badge rounded-pill bg-danger">
      {% if h %}
      {{ h[0]["house"] }}
      {% elif w %}
      {{ w[0]["work"] }}
      {% elif p %}
      {{ p[0]["personal"] }}
      {% else %}
      0
      {% endif %}
    </span>
  </button>
</div>
{% endblock %}

