{% extends "layout.html" %}
{% block title %} Register {% endblock%}
{% block main %}
<form action="/register" method="post">
    <div class="mb-3">
      <input type="username" class="register_input" name="username" aria-describedby="username" placeholder="username" autocomplete="off" autofocus>
    </div>
    <div class="mb-3">
      <input type="password" class="register_input" name="password" placeholder="password" autocomplete="off" autofocus>
      <div class="form-text">password must contain at least 8 characters/numbers.</div>
    </div>
    <div class="mb-3">
        <input type="password" class="register_input" name="confirmation" placeholder="password (again)" autocomplete="off" autofocus>
      </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  {% endblock %}