{% extends "layout.html" %}
{% block title %} Shuffle {% endblock %}
{% block main %}
<nav style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">home</a></li>
    <li class="breadcrumb-item active" aria-current="page">shuffle</li>
  </ol>
</nav>
{% if records %}
<h1 class="text-center shuffle"><a href="/shuffle">Shuffle<i class="icon-shuffle"></i></a></h1>
<table class="table">
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Task</th>
                <th class="text-end">Created</th>
                <th class="text-end">Due</th>
                <th class="text-center">Done</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for row in records %}
        <!-- add backgrounds to task depends on category-->
        <tr class= 
        {% if row["category"] == "Work" %}
          "work"
          {% elif row["category"] == "House" %}
          "house"
          {% elif row["category"] == "Personal" %}
          "personal"
          {% endif %}
          >
          <td class="text-start">{{ row["task"] }}</td>
          <td class="text-center">{{ row["created_date"] }}</td>
          <td class="text-end">{{ row["due_date"] }}</td>
          <td>
            <form id="done" action="/done{{row["id"] }}" method="post" onchange="document.getElementById('done').submit()" class="task_form"><input type="checkbox" name="done">
            </form>
            </td>
          <!-- edit button -->
            <td>
            <form action="/edit{{row["task"]}}:{{row["category"]}}:{{row["due_date"]}}:{{row["id"]}}" method="post" class="task_form">
              <button type="submit"><i class="icon-pencil"></i></button>
            </form>
          </td>
          <!-- delete button -->
          <td>
            <form action="/delete{{row["id"] }}" method="post" class="task_form">
              <button type="submit"><i class="icon-trash-1"></i></button>
            </form>
          </td>
        </tr>
  {% endfor %}
{% endif %}
{% endblock %}
